.card{
	height: 350px;
	border-radius: 10px;
	box-shadow: 3px 3px 7px lightgray;
	position: relative;
	transition: 0.6s;
	cursor: pointer;
}

.card:hover{
	transform: translateY(-3px);
}

.card .cardImg{
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card img{
	max-width: 100%;
	max-height: 100%;
}

.card .cardDesc{
	padding:20px 20px 10px 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height:calc(100% - 200px);
	position: relative;
}

.card .cardFooter{
	display: flex;
	justify-content: space-between;
	font-size: 12px;
	color:#888;
}

.card .icon{
	position: absolute;
}

.card .heart{
	top:5px;
	right:5px;
}

.card .arrow{
	top:10px;
	right:5px;
}

.card .edit{
	top:40px;
	right:5px;
}

.card .delete{
	top:78px;
	right:5px;
}