html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

:root{
  --1st:#232E21;
  --2nd:#730071;
  --3rd:#390040;

  --4th:#C9C9C9;
  --5th:#a3a3a3;
}

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}